<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    {% load staticfiles %}
    <title>数据可视化</title>
    <script type="text/javascript" src="{% static 'js/thirdPart/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/thirdPart/saveSvgAsPng.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/thirdPart/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/thirdPart/smartMenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullScreen.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/smartMenu.css' %}" >
    <link rel="shortcut icon" href="{% static 'image/logo.ico' %}" type="image/x-icon" />
</head>
<body>
    <svg id="svg"><g id="container"></g></svg>
    <div id="top-tool-bar">
        <div id="logo"></div>
        <button class="top-menu-item" id="upload-data"><i class="fa fa-upload"></i> 上传数据</button>
        <button class="top-menu-item" id="download-data"><i class="fa fa-download"></i> 导出数据</button>
        <button class="top-menu-item" id="download-img"><i class="fa fa-share"></i> 导出图片</button>
        <div id="top-right-bar">
        	<button id="layout-button" class="switch-button" title="切换布局模式">力布局&nbsp&nbsp&nbsp&nbsp<i id="layout-switch" class="fa fa-toggle-off"></i>&nbsp&nbsp&nbsp&nbsp圆布局</button>
        	<button id="analyse-button" class="switch-button" title="切换分析模式">数据分析&nbsp&nbsp&nbsp&nbsp<i id="analyse-switch" class="fa fa-toggle-off"></i>&nbsp&nbsp&nbsp&nbsp场景分析</button>
            <div id="search-line-layout">
                <input type="text" name="" id="search-line">
                <button id="search-button"><i class="fa fa-search"></i></button>
            </div>
            <button class="top-tool-button" id="screen-button"><i class="fa fa-expand" id="screen-switch"></i></button>
            <button class="top-tool-button" id="setting-button"><i class="fa fa-gear"></i></button>
        </div>  
    </div>
    <div id="left-tool-bar">
        <button id="zoom-out" title="放大"><i class="fa fa-plus-circle"></i></button>
        <button id="zoom-in" title="缩小"><i class="fa fa-minus-circle"></i></button>
        <button id="zoom-reset" title="1：1"><i class="fa fa-arrows-h"></i></button>
        <button id="rotate" title="顺时针旋转"><i class="fa fa-repeat"></i></button>
        <button id="rerotate" title="逆时针旋转"><i class="fa fa-undo"></i></button>
<!--         <button id="reset" title="重新布局"><i class="fa fa-refresh"></i></button> -->
        <button id="brush-mode" title="框选模式"><i class="fa fa-crop"></i></button>
    </div>
    <div id="setting-box">
        <div id="setting-box-header">
            &nbsp&nbsp自定义设置&nbsp&nbsp
            <i class="fa fa-arrow-right" id="setting-button"></i>
        </div>
        <table id="setting-box-content">
            <tbody>
                <tr>
                    <td>节点大小</td>
                    <td>
                        <input type="range" name="points" id="node-size" min="0" max="50" step="1" value="15" />
                    </td>
                </tr>
                <tr>
                    <td>节点透明度</td>
                    <td>
                        <input type="range" name="points" id="node-opacity" min="0" max="1" step="0.02" value="1" />
                    </td>
                </tr>
                <tr>
                    <td>节点轮廓宽度</td>
                    <td>
                        <input type="range" name="points" id="node-stroke" min="0" max="5" step="0.1" value="1" />
                    </td>
                </tr>
                <tr>
                    <td>节点间斥力</td>
                    <td>
                        <input type="range" name="points" id="node-charge" min="100" max="1000" step="10" value="300" />
                    </td>
                </tr>
                <tr>
                    <td>连接强度</td>
                    <td>
                        <input type="range" name="points" id="link-strength" min="0" max="1" step="0.05" value="0.5" />
                    </td>
                </tr>
                <tr>
                    <td>边颜色</td>
                    <td>
                        <input type="color" name="points" id="line-color" value="#00FFFB">
                    </td>
                </tr>
                <tr>
                    <td>边宽度</td>
                    <td>
                        <input type="range" name="points" id="line-stroke-width" min="0" max="5" step="0.1" value="1" />
                    </td>
                </tr>
                <tr>
                    <td>节点提示开关</td>
                    <td>
                        <button id="node-button" class="switch-button" title="节点提示开关"><i id="node-switch" class="fa fa-toggle-off"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>关系提示开关</td>
                    <td>
                        <button id="link-button" class="switch-button" title="关系提示开关"><i id="link-switch" class="fa fa-toggle-off"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>箭头显示开关</td>
                    <td>
                        <button id="marker-button" class="switch-button" title="箭头提示开关"><i id="marker-switch" class="fa fa-toggle-off"></i></button>
                    </td>
                </tr>                    
            </tbody>
        </table>
    </div>
    <div id="info-layout">
        <div id="node-info" class="hidden">
            <p><strong>节点属性:</strong></p>
        </div>
        <div id="link-info" class="hidden">
            <p><strong>关系属性:</strong></p>
        </div>
    </div>
    <div id="tool-box">
        <div id="select-box">
            <div id="box-title">功能区</div>
            <div id="functions">
                <div id="fun-layout">
                    <div class="fun-title">点选取</div>
                    <div class="node-fun">
                        <button class="select-button" id="select-correlation">选 取 关 联</button>
                        <button class="select-button" id="select-same-degree">选 取 同 级</button>
                        <button class="select-button" id="select-childs">选取子节点</button>
                        <button class="select-button" id="select-parents">选取父节点</button>
                    </div>
                </div>
                <div id="fun-layout">
                    <div class="fun-title">边样式</div>
                    <div class="node-fun">
                        <button class="select-button" id="straight-line">直&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp线</button>
                        <button class="select-button" id="bezier-curves">贝塞尔曲线</button>
                        <button class="select-button" id="horizontal-broken-line">横&nbsp&nbsp&nbsp&nbsp折&nbsp&nbsp&nbsp&nbsp线</button>
                        <button class="select-button" id="vertical-broken-line">竖&nbsp&nbsp&nbsp&nbsp折&nbsp&nbsp&nbsp&nbsp线</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="color-box">
            <div id="box-title">调色区</div>
            <div id="color-items">
                <div class="color-item" style="background-color: #FFB900"></div>
                <div class="color-item" style="background-color: #E74856"></div>
                <div class="color-item" style="background-color: #0078D7"></div>
                <div class="color-item" style="background-color: #0099BC"></div>
                <div class="color-item" style="background-color: #7A7574"></div>
                <div class="color-item" style="background-color: #767676"></div>
                <div class="color-item" style="background-color: #FF8C00"></div>
                <div class="color-item" style="background-color: #E81123"></div>
                <div class="color-item" style="background-color: #0063B1"></div>
                <div class="color-item" style="background-color: #2D7D9A"></div>
                <div class="color-item" style="background-color: #5D5A58"></div>
                <div class="color-item" style="background-color: #4C4A48"></div>
            </div>
            <div id="color-others">&nbsp&nbsp其他颜色<input type="color" id="node-color" />
            </div>
        </div>
        <button id="stop-button">停止布局</button>
    </div>
    <div id="upload-layout">
        <div id="upload-top-layout">
            <div id="file-title">导入json数据</div>
            <div id="file-close">×</div>
        </div>
        <div id="info-file">
            <div id="file-item">
                <div id="file-name"></div>
                <div id="file-state"></div>
            </div>
        </div>
        <input type="file" id="file-input" enctype="multiple/form-data" method="post"/>
        <button id="select-file" class="file-button">选择文件</button>
        <div>
            <button id="upload-button" class="file-button">上传</button>
            <button id="close-button" class="file-button">关闭</button>
        </div>
    </div>
    <table id="attr-table"><tbody></tbody></table>
    <script type="text/javascript">
    	var data = {{ Dict|safe }};
    	var support_label = {{ List|safe }};
    </script>
    <script type="text/javascript" src="{% static 'js/networkGraph.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/operation.js' %}"></script>
</body>
</html>