@charset "utf-8";
.smart_menu_box{display:none; width:250px; position:absolute; z-index:201105;}
.smart_menu_body{padding:1px; border:1px solid #7bfff5; background-color:#097b72; -moz-box-shadow:2px 2px 5px #666; -webkit-box-shadow:2px 2px 5px #666; box-shadow:2px 2px 5px #666;}
.smart_menu_ul{margin:0; padding:0; list-style-type:none; color: white}
.smart_menu_li{position:relative;}
.smart_menu_a{display:block; height:25px; line-height:24px; padding:0 5px 0 25px; color:#000; font-size:12px; text-decoration:none; overflow:hidden;}
.smart_menu_a:hover, .smart_menu_a_hover{background-color:#348CCC; color:#fff; text-decoration:none;}
.smart_menu_li_separate{line-height:0; margin:3px; border-bottom:1px solid #B8CBCB; font-size:0;}
.smart_menu_triangle{width:0; height:0; border:5px dashed transparent; border-left:5px solid #666; overflow:hidden; position:absolute; top:7px; right:5px;}
.smart_menu_a:hover .smart_menu_triangle, .smart_menu_a_hover .smart_menu_triangle{border-left-color:#fff;}
.smart_menu_li_hover .smart_menu_box{top:-1px; left:130px;}
.smart_menu_li:first-child a, .smart_menu_li:nth-child(2) a, .smart_menu_li:nth-child(3) a, .smart_menu_li:nth-child(4) a{
	color: white;
    cursor: default;
}
.smart_menu_li a {
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center left;
}
#smartMenu_node_menu .smart_menu_li:first-child a {
	background-image: url("../image/expand.png");
}
#smartMenu_node_menu .smart_menu_li:nth-child(2) a {
	background-image: url("../image/collapse.png");
}
#smartMenu_node_menu .smart_menu_li:nth-child(3) a {
	background-image: url("../image/link.png");
}
#smartMenu_node_menu .smart_menu_li:nth-child(4) a {
	background-image: url("../image/delete.png");
}
#smartMenu_link_menu .smart_menu_li:first-child a {
	background-image: url("../image/delete.png");
}
#smartMenu_create_menu .smart_menu_li:first-child a {
	background-image: url("../image/create.png");
}