html, body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    color: white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#top_tool_bar {
    width: 100%;
    height: 30px;
    background: #027080;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
#logo {
    width: 24px;
    height: 24px;
    margin: 3px;
    float: left;
    background-size: cover;
}
.top_menu {
    width: 10%;
    height: 100%;
    float: left;
    font-size: 12px;
}
#top_right_bar {
    float: right;
}
#search_line_layout {
    height: 24px;
    margin: 3px;
    margin-right: 0px;
    float: left;
}
#search_line {
    width: 90px;
    height: 20px;
    border: 0px;
    padding: 0px;
    float: left;
    border: 1px solid #0F9C8D;
    border-radius: 3px;
    background-color: transparent;
}
#search_line:hover {
    border-color: #16E3CD;
}
#search_button {
    width: 22px;
    height: 22px;
}
.top_tool_button {
    width: 30px;
    float: left;
    padding: 5px;
}
#left_tool_bar {
    position: absolute;
    width: 30px;
    height: 100%;
    background: #027080;
}
.on {
    background-color: #34D2DE;
}
#main_window {
    position: absolute;
    width: 100%;
    height: 100%;
}
#svg {
    background-color: #184650;
    width: 100%;
    height: 100%;
    display: block;
}
#setting_box {
    width: 250px;
    background-color: #0D877A;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 15px;
    display: none;
    margin: 2px auto;
    border-collapse:collapse;
    border-radius: 5px;
}        
#setting_box_header {
    height: 38px;
    line-height: 38px;
    background: #027080;
}
tbody td {
    width: auto;
    font-size: 12px;
    background-color: #027090;
    border: 2px solid #FFFFFF;
    padding: 9px;
}
circle {
    cursor: move;
    opacity: 0.8;    
    stroke-opacity: 0.8;
    stroke-width: 1px;
    stroke: white;
}
circle:hover {
    stroke-opacity: 0.5;
    stroke-width: 5px;
}
.selected circle {
    stroke: yellow;
    stroke-width: 2px;
}
.line{
    cursor: pointer;
    stroke: #00FFFB;
    stroke-width: 1px;
}
.line:hover{
    stroke-width: 4px !important;
    stroke-opacity: 0.8;
}
button {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background-color: transparent;
    float: left;
    -webkit-transition-duration: 1s;
    transition-duration: 0.5s;
}
button:hover {
    background-color: #55D6C2;
    color: white;
}
text {
    fill: white;
    display: none;
    user-select: none;
    pointer-events: none;
    text-anchor: middle;
}
#info_layout {
    color:  black;
    position: absolute;
    width: 250px;
    height: auto;
    left: 30px;
    top: 30px;
    padding:5px;
    background-color: white;
    border:1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0.5;
}
#info_layout p {
    font-family: sans-serif;
    font-size: 15px;
}
#tool_box {
    color: black;
}
#select_box {
    color: black;
    position:absolute;
    width: 250px;
    height: 120px;
    left: 32px;
    bottom: 0px;
    opacity: 0.5;
    background-color: #68C994;
}
#color_box {
    color: black;
    background-color: #68C994;
    position:absolute;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr; 
    width: 250px;
    height: 120px;
    left: 284px;
    bottom: 0px;
    opacity: 0.5;
}
#function_box {
    color: black;
    position:absolute;
    width: 125px;
    height: 120px;
    left: 536px;
    bottom: 0px;
    opacity: 0.5;
    background-color: #68C994;
}
#box_title {
    height: 24px;
    text-align: center;
    background-color: #05887A;
}
#color_items {
    padding: 2px;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.color_item {
    margin: 1px;
    border-radius: 4px;
}
#color_others {
    font-size: 15px;
    line-height: 24px;
}
#node_color {
    border: 2px;
    float: right;
    width: 60%;
    height: 18px;
}::-webkit-color-swatch-wrapper { 
    padding: 0;
}
#functions {
    height: 96px;
    line-height: 21px;
}
#fun_items {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#fun_layout {
    text-align: center;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-style: none none solid none;
}
.fun_title {
    line-height: 48px;
}
.node_fun {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.fun_button {
    background-color: #72c6d8;
    color: black;
    height: 22px;
    margin-bottom: 1px;
    transition-duration: 0.5s;
    border-radius: 3px;
}
.fun_button:hover {
    background-color: #7dfbf5;
    color: black;
}
.select_button {
    background-color: #72c6d8;
    color: black;
    height: auto;
    width: 99%;
    margin: 1px;
    transition-duration: 0.5s;
    border-radius: 3px;
}
.select_button:hover {
    background-color: #7dfbf5;
    color: black;
}
#line_color{
    width: 100%;
}
input[type="color"] {
    border: 0; 
    outline:none
}
input[type="color"]::-webkit-color-swatch-wrapper {
    background-color:#ffffff;
}
input[type="color"]::-webkit-color-swatch {
    position: relative;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    background-size: 20% 80%;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    }
#upload_layout {
    width: 300px;
    height: 180px;
    position: absolute;
    top: 330px;
    left: 630px;
    background-color: steelblue;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    display: none;
    cursor: move;
}
#file_title {
    float: left;
}
#file_close {
    float: right;
    cursor: pointer;
}
#file_close:hover {
    color: black;
}
#info_file {
    margin-top: 30px;
    width: 95%;
    border-radius: 5px;
    height: 80px;
    border:1px solid #ccc;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
#select_file {
    margin: 5px 0px 5px 0px;
}
input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
}
.file_button {
    background-color: #027090;
    color: white;
}
#upload_button {
    width: 45%;
    float: left;
}
#close_button {
    width: 45%;
    float: right;
    background-color: white;
    color: black;
}
#file_item {
    height: 100%;
}
#file_name {
    float: left;
    height: 100%;
    line-height: 80px;
    text-align: center;
    margin-left: 3px; 
}
#state {
    height: 100%;
    float: right;
    line-height: 80px;
    margin-right: 3px; 
    color: red;
}