html, body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    color: white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#container {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #184650;
    width: 100%;
    height: 100%;
    display: block;
}
#top-tool-bar {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #027080;
}
#logo {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('../image/logo.png');
    background-size: cover;
}
.top-menu-item {
    width: 90px;
    height: 100%;
    float: left;
    font-size: 12px;
}
#top-right-bar {
    float: right;
}
#layout-button {
    width: auto;
    float: left;
    margin-right: 5px;
}
#layout-button i {
    font-size: 12px;
}
#analyse-button {
    width: auto;
    float: left;
    margin-right: 5px;
}
#analyse-button i {
    font-size: 12px;
}
#search-line-layout {
    height: 24px;
    margin: 3px;
    margin-right: 0px;
    float: left;
}
#search-line {
    width: 90px;
    height: 20px;
    float: left;
    color: white;
    border: 1px solid #0F9C8D;
    border-radius: 3px;
    background-color: transparent;
}
#search-line:hover {
    border-color: #16E3CD;
}
#search-button {
    width: 24px;
    height: 24px;
}
.top-tool-button {
    width: 35px;
    float: left;
}
#left-tool-bar {
    position: absolute;
    margin-top: 30px;
    width: 30px;
    height: calc(100% - 32px);
    background: #027080;
}
.attr-button {
    width: 50%;
    float: left;
}
.high-light {
    background-color: #34D2DE;
}
.cursor-target {
    cursor: pointer;
/*     cursor: url('../image/target.ico'), auto;
 */
}
.cursor-add {
    cursor: crosshair;
}
#setting-box {
    width: 300px;
    background-color: #0D877A;
    position: absolute;
    top: 30px;
    right: -300px;
    font-size: 15px;
    margin: 2px auto;
    border-collapse: collapse;
    border-radius: 5px;
}    

@-webkit-keyframes show /* Safari 和 Chrome */
{
    from { right: -300px; }
    to { right: 0px; }
}

@-webkit-keyframes hide /* Safari 和 Chrome */
{
    from { right: 0px; }
    to { right: -300px; }
}
  
#setting-box-header {
    height: 38px;
    line-height: 38px;
    background: #027080;
}
#attr-table {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}
.switch-button i{
    font-size: 25px;
}
table{
    width: 100%;
    background-color: #027090;
}
tbody td {
    font-size: 12px;
    border: 1px solid #FFFFFF;
    padding: 9px;
}
circle {
    cursor: move;
    stroke-opacity: 0.8;
    stroke-width: 2px;
    stroke: white;
}
circle:hover {
    stroke-opacity: 0.5;
    stroke-width: 5px;
}
.selected circle {
    stroke-width: 5px;
}
.finded circle {
    stroke-width: 20px;
    stroke: #00FFFB;
}
path{
    fill: none;
    cursor: pointer;
    stroke: #00FFFB;
    stroke-width: 1px;
}
path:hover{
    stroke-width: 4px !important;
    stroke-opacity: 0.8;
}
.selected path{
    stroke: yellow;
    stroke-width: 4px !important;
}
button {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background-color: transparent;
    float: left;
    -webkit-transition-duration: 1s;
    transition-duration: 0.5s;
}
button:hover {
    background-color: #55D6C2;
    color: white;
}
text {
    fill: white;
    user-select: none;
    pointer-events: none;
}
.node-text {
    font-size: 5px;
    user-select: none;
    pointer-events: none;
    text-anchor: middle;
}
.tip {
    fill: red;
    font-size: 10px;
}
#info-layout {
    color:  black;
    position: absolute;
    width: 250px;
    height: auto;
    left: 30px;
    top: 30px;
    padding:5px;
    background-color: white;
    border:1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0.7;
}
#info-layout p {
    font-family: sans-serif;
    font-size: 15px;
}
.bottom-item {
    color: black;
    opacity: 0.8;
    position: absolute;
    bottom: 24px;
}
#select-box {
    width: 250px;
    height: 120px;
    left: 32px;
    float: left;
    background-color: #68C994;
}
#color-box {
    width: 250px;
    height: 120px;
    left: 284px;
    background-color: #68C994;
    display: grid;
    float: left;
    grid-template-rows: 1fr 3fr 1fr; 
}
#stop-button {
    float: right;
    right: 2px;
    width: 120px;
    height: 120px;
    margin-right: 2px;
    background-color: #05887A;
}
#box-title {
    height: 24px;
    text-align: center;
    background-color: #05887A;
}
#color-items {
    padding: 2px;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.color-item {
    margin: 1px;
    border-radius: 4px;
}
#color-others {
    font-size: 15px;
    line-height: 24px;
}
#node-color {
    border: 2px;
    float: right;
    width: 60%;
    height: 18px;
}::-webkit-color-swatch-wrapper { 
    padding: 0;
}
#functions {
    height: 96px;
    line-height: 21px;
}
#fun-items {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#fun-layout {
    text-align: center;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-style: none none solid none;
}
.fun-title {
    line-height: 48px;
}
.node-fun {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.fun-button {
    background-color: #72c6d8;
    color: black;
    height: 22px;
    margin-bottom: 1px;
    transition-duration: 0.5s;
    border-radius: 3px;
}
.fun-button:hover {
    background-color: #7dfbf5;
    color: black;
}
.select-button {
    background-color: #72c6d8;
    color: black;
    height: auto;
    width: 99%;
    margin: 1px;
    transition-duration: 0.5s;
    border-radius: 3px;
}
.select-button:hover {
    background-color: #7dfbf5;
    color: black;
}
#line-color{
    width: 100%;
}
input[type="color"] {
    border: 0; 
    outline:none
}
input[type="color"]::-webkit-color-swatch-wrapper {
    background-color:#ffffff;
}
input[type="color"]::-webkit-color-swatch {
    position: relative;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    background-size: 20% 80%;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#upload-layout {
    width: 300px;
    height: 180px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 90px);
    background-color: steelblue;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    padding: 13px;
    display: none;
}
#upload-top-layout {
    height: 30px;
    cursor: move;
}
#file-title {
    float: left;
}
#file-close {
    float: right;
    cursor: pointer;
}
#file-close:hover {
    color: black;
}
#info-file {
    width: 95%;
    border-radius: 5px;
    height: 80px;
    border:1px solid #ccc;
    margin: 0 auto;
}
#select-file {
    margin: 5px 0px 5px 0px;
}
input[type="file"] {
    display: none;
}
#file-item {
    height: 100%;
    padding: 3px;
    cursor: default;
}
#file-name {
    float: left;
    line-height: 80px;
}
#state {
    float: right;
    line-height: 80px;
}
.file-button {
    background-color: #027090;
    color: white;
}
#upload-button {
    width: 47%;
    float: left;
}
#close-button {
    width: 47%;
    float: right;
    background-color: white;
    color: black;
}
#status-bar {
    width: calc(100% - 30px);
    height: 20px;
    background-color: #027080;
    position: absolute;
    left: 30px;
    bottom: 2px;
}
rect:hover {
    stroke: #7dfbf5;
    stroke-width: 1px;
}
#bar-grapg {

}
@-webkit-keyframes showbar /* Safari 和 Chrome */
{
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes hidebar /* Safari 和 Chrome */
{
    from { opacity: 1; }
    to { opacity: 0; }
}