html, body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    color: white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#container {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #184650;
    width: 100%;
    height: 100%;
    display: block;
}
#top-tool-bar {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #027080;
}
#logo {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('../image/logo.png');
    background-size: cover;
}
.top-menu-item {
    width: 90px;
    height: 100%;
    float: left;
    font-size: 12px;
}
#top-right-bar {
    float: right;
    height: 100%;
}
#stop-button {
    width: 120px;
    float: left;
    margin-right: 5px;
    line-height: 30px;
    padding: 0px;
}
#network-status {
    width: 30px;
    height: 100%;
    float: left;
    background-image: url("../image/wait.png");
    background-size: cover;
}
@keyframes calc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#search-line-layout {
    height: 24px;
    margin: 3px;
    margin-right: 0px;
    float: left;
}
#search-line {
    width: 90px;
    height: 20px;
    float: left;
    color: white;
    border: 1px solid #0F9C8D;
    border-radius: 3px;
    background-color: transparent;
}
#search-line:hover {
    border-color: #16E3CD;
}
#search-button {
    width: 24px;
    height: 24px;
}
.top-tool-button {
    width: 35px;
    float: left;
}
#left-tool-bar {
    position: absolute;
    margin-top: 30px;
    width: 30px;
    height: calc(100% - 32px);
    background: #027080;
}
#tool-bar {
    height: 40%;
}
.attr-button {
    width: 50%;
    float: left;
}
.high-light {
    background-color: #34D2DE;
}
.cursor-target {
    cursor: pointer;
}
.cursor-add {
    cursor: crosshair;
}
#setting-box {
    width: 300px;
    background-color: #0D877A;
    position: absolute;
    top: 30px;
    left: 100%;
    font-size: 15px;
    margin: 2px auto;
    border-collapse: collapse;
    border-radius: 5px;
}    
@keyframes show-setting
{
    from { 
        left: 100%; 
    }
    to { 
        left: calc(100% - 300px); 
    }
}

@keyframes hide-setting
{
    from { 
        left: calc(100% - 300px); 
    }
    to { 
        left: 100%; 
    }
}
#setting-box-header {
    height: 38px;
    line-height: 38px;
    background: #027080;
}
#attr-table {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 100px);
    display: none;
}
table{
    width: 100%;
    background-color: #027090;
}
tbody td {
    height: 35px;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    padding: 4px;
}
circle {
    cursor: move;
    stroke-opacity: 0.8;
    stroke-width: 2px;
    stroke: white;
}
circle:hover {
    stroke-opacity: 0.5;
    stroke-width: 5px;
}
.selected circle {
    stroke-width: 5px;
}
.finded circle {
    stroke-width: 20px;
    stroke: #00FFFB;
}
path{
    fill: none;
    cursor: pointer;
    stroke: #00FFFB;
    stroke-width: 1px;
}
path:hover{
    stroke-width: 4px !important;
    stroke-opacity: 0.8;
}
.selected path{
    stroke: yellow;
    stroke-width: 4px !important;
}
button {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    outline: none;
    background-color: transparent;
    float: left;
    -webkit-transition-duration: 1s;
    transition-duration: 0.5s;
}
button:hover {
    background-color: #55D6C2;
}
text {
    fill: white;
    user-select: none;
    pointer-events: none;
}
.node-text {
    font-size: 5px;
    user-select: none;
    pointer-events: none;
    text-anchor: middle;
}
.tip {
    fill: red;
    font-size: 10px;
}
#info-layout {
    color:  black;
    position: absolute;
    width: 250px;
    height: auto;
    top: 30px;
    left: 30px;
    padding:3px;
    background-color: white;
    border:1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0.7;
}
#info-layout p {
    font-family: sans-serif;
    font-size: 15px;
}
@keyframes show-info {
    from {
        left: -280px;
    }
    to {
        left: 30px;
    }
}
@keyframes hide-info {
    from {
        left: 30px;
    }
    to {
        left: -280px;
    }
}
#color-button {
    position: absolute;
    bottom: 20px;
    background-image: url("../image/color.png");
    background-size: cover;
}
#color-button:hover {
    background-color: transparent;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rerotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
#color-bar {
    width: calc(100% - 30px);
    height: 30px;
    position: absolute;
    right: calc(100% - 30px);
    bottom: 20px;
}
@keyframes show-color-bar {
    from {
        right: calc(100% - 30px);
    }
    to {
        right: 0%;
    }
}
@keyframes hide-color-bar {
    from {
        right: 0%;
    }
    to {
        right: calc(100% - 30px);
    }
}
.color-item {
    width: 1%;
    float: left;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.color-item:hover {
    border: 1px solid black;
}
#line-color{
    width: 100%;
}
input[type="color"] {
    border: 0; 
    outline: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    background-color: #ffffff;
}
input[type="color"]::-webkit-color-swatch {
    position: relative;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    background-size: 20% 80%;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.line-style {
    float: left;
    width: 35px;
    margin: 7px;
}
#sline-button {
    background-image: url("../image/sline.png");
    background-size: cover;
}
#curve-button {
    background-image: url("../image/curve.png");
    background-size: cover;
}
#hline-button {
    background-image: url("../image/hline.png");
    background-size: cover;
}
#vline-button {
    background-image: url("../image/vline.png");
    background-size: cover;
}
#upload-layout {
    width: 300px;
    height: 180px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 90px);
    background-color: steelblue;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    padding: 13px;
    display: none;
}
#upload-top-layout {
    height: 30px;
    cursor: move;
}
#file-title {
    float: left;
}
#file-close {
    float: right;
    cursor: pointer;
}
#file-close:hover {
    color: black;
}
#info-file {
    width: 95%;
    border-radius: 5px;
    height: 80px;
    border:1px solid #ccc;
    margin: 0 auto;
}
#select-file {
    margin: 5px 0px 5px 0px;
}
input[type="file"] {
    display: none;
}
#file-item {
    height: 100%;
    padding: 3px;
    cursor: default;
}
#file-name {
    float: left;
    line-height: 80px;
}
#state {
    float: right;
    line-height: 80px;
}
.file-button {
    background-color: #027090;
    color: white;
}
#upload-button {
    width: 47%;
    float: left;
}
#close-button {
    width: 47%;
    float: right;
    background-color: white;
    color: black;
}
#status-bar {
    width: calc(100% - 30px);
    height: 20px;
    background-color: #027080;
    position: absolute;
    left: 30px;
    bottom: 2px;
}
rect:hover {
    stroke: #7dfbf5;
    stroke-width: 1px;
}
@keyframes show-bar-chart
{
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

@keyframes hide-bar-chart
{
    from { 
        opacity: 1; 
    }
    to { 
        opacity: 0; 
    }
}
#status-bar {
    text-align: right;
    font-size: 12px;
    line-height: 20px;
}
select {
    width: 100%;
    height: 100%;
}